<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>{% block title %}UTC - NA17 - Cinémato{% endblock %}</title>
        <link rel='shortcut icon' href='{{ asset('favicon.ico') }}' />
        <link rel='icon' href='{{ asset('favicon.ico') }}' />
        {% block stylesheets %}
            <link rel='stylesheet' href='{{ asset('assets/css/bootstrap.min.css') }}' />
            <link rel='stylesheet' href='{{ asset('assets/css/app.min.css') }}' />
            <link rel='stylesheet' href='{{ asset('assets/css/vendor/bootstrap/bootstrap-datetimepicker-3.0.0.min.css') }}' />
        {% endblock %}
        {% block head_javascripts %}{% endblock %}
    </head>
    <body {% block body_class %}{% endblock %}>
        {% block body %}
            <header>
                {% block header %}
                    <nav class='navbar navbar-default navbar-fixed-top'>
                        <div class='container'>
                            <div class='navbar-header'>
                                <a href='{{ app.url_generator.generate('home') }}' class='navbar-brand'><i class='icon icon-video-camera'></i> Cinémato</a>
                                <button class='navbar-toggle' type='button' data-toggle='collapse' data-target='#navbar-main'>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>
                                </button>
                            </div>
                            <div class='navbar-collapse collapse' id='navbar-main'>
                                {% block nav_content %}
                                    <ul class='nav navbar-nav'>
                                        <li><a href='{{ app.url_generator.generate('public') }}'><i class='icon icon-home'></i> Public</a></li>
                                        <li><a href='{{ app.url_generator.generate('intranet') }}'><i class='icon icon-database'></i> Intranet de gestion</a></li>
                                        <li><a href='{{ app.url_generator.generate('vente') }}'><i class='icon icon-credit-card'></i> Espace vente</a></li>
                                    </ul>
                                    <ul class='nav navbar-nav navbar-right'>
                                        <li><a href='{{ app.url_generator.generate('about') }}'><i class='icon icon-info'></i> A propos</a></li>
                                    </ul>
                                {% endblock %}
                            </div>
                        </div>
                    </nav>
                {% endblock %}
            </header>
            <section id='app-container'>
                <div class='container'>
                    {% for type, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                            <div class='alert alert-{{ type }} alert-dismissable'>
                                <a href='#' class='close' data-dismiss='alert' aria-hidden='true'>&times;</a>
                                <strong>{{ type }}!</strong><span> {{ message }}</span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block app_container %}{% endblock %}
                </div>
            </section>
            <footer>
                {% block footer %}{% endblock %}
            </footer>
            {% block javascripts %}
                <script src='{{ asset('assets/js/vendor/jquery-1.11.0.min.js') }}'></script>
                <script src='{{ asset('assets/js/vendor/moment-2.5.1.min.js') }}'></script>
                <script src='{{ asset('assets/js/vendor/bootstrap/bootstrap-3.1.1.min.js') }}'></script>
                <script src='{{ asset('assets/js/vendor/bootstrap/bootstrap-datetimepicker-3.0.0.min.js') }}'></script>
                <script src='{{ asset('assets/js/plugins.js') }}'></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
