{% extends 'pages/intranet/intranet.html.twig' %}

{% block app_container %}
    <div class='page-header'>
        <h1>Statistiques</h1>
    </div>

    <ul class='list-group'>
        <li class='list-group-item'>Total actuel d'abonnés au cinéma : <span class='badge'>{{ nbAbonne }}</span></li>
        <li class='list-group-item'>Nombre de films cette semaine : <span class='badge'>{{ nbFilm }}</span></li>
        <li class='list-group-item'>Nombre de séances cette semaine : <span class='badge'>{{ nbSeance }}</span></li>
    </ul>

    <h2>Statistiques des films projetés la semaine du {{ dateDebutSemaine|date('d/m/Y') }} au {{ dateFinSemaine|date('d/m/Y') }}</h2>
    <hr />

    <div class='row'>
        {% for item in tabFilmSeance %}
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                <article class='panel panel-primary'>
                    <header class='panel-heading'>
                        <h3 class='panel-title'>
                            <a href="{{ app.url_generator.generate('intranet-films-detail', { 'id': item.film.id }) }}">{{ item.film.titre }}</a>
                        </h3>
                    </header>
                    <div class='panel-body'>
                        <ul class='list-group'>
                            <li class='list-group-item'>
                                <h5>Taux d'occupation de la salle par séance :</h5>
                                {% for seance in item.seance %}
                                    <p>Séance du <strong>{{ seance.seance.dateSeance | date('d/m/Y H:i') }}</strong> : <span class='label label-{% if seance.occupation > 0.7 %}success{% else %}{% if seance.occupation < 0.3 %}warning{% else %}info{% endif %}{% endif %}'>{{ seance.occupation|number_format(2, '.', ',') }}%</span></p>
                                {% endfor %}
                            </li>
                            <li class='list-group-item'>Entrées générées par le film (depuis le début) : <span class='badge'>{{ item.entre }}</span></li>
                            <li class='list-group-item'>Revenus générés par le film (depuis le début) : <span class='badge'>{% if item.revenue is null %}0{% else %}{{ item.revenue }}{% endif %}€</span></li>
                        </ul>
                    </div>
                </article>
            </div>
        {% else %}
            <p class='text-warning'>Il n'y a aucun film projeté cette semaine !</p>
        {% endfor %}
    </div>

    <ul class='pager'>
        <li class='previous'><a href="{{ app.url_generator.generate('intranet-statistiques-list', { offset: offset+1 }) }}" >Semaine Précédente</a></li>
        <li class='next'><a href="{{ app.url_generator.generate('intranet-statistiques-list', { offset: offset-1 }) }}" >Semaine Suivante</a></li>
    </ul>
{% endblock %}
