{% extends 'pages/vente/list.html.twig' %}

{% block entity_title %}Autres produits{% endblock %}

{% block entity_add_path %}href='{{ app.url_generator.generate('vente-produit-autres-new') }}'{% endblock %}

{% block entity_add_label %}Ajouter un autre produit{% endblock %}

{% block entity_table_headers %}
    <th>Code barre</th>
    <th>Nom</th>
    <th>Prix</th>
    <th>Actions</th>
{% endblock %}

{% block entity_table_content %}
    <td>{{ entity.codeBarre }}</td>
    <td>{{ entity.nomDeProduit }}</td>
    <td>{{ entity.prix }}</td>
    <td>
        <div>
            <a href='{{ app.url_generator.generate('vente-produit-autres-detail', { 'id': entity.codeBarre }) }}'>Détail</a>
        </div>
        <div>
            <a href='{{ app.url_generator.generate('vente-produit-autres-edit', { 'id': entity.codeBarre }) }}'>Editer</a>
        </div>
    </td>
{% endblock %}
