{% extends 'pages/public/list.html.twig' %}

{% block entity_title %}Les séances pour {{ film.titre }}{% endblock %}

{% block entity_add_path %}href='{{ app.url_generator.generate('public-films-list') }}'{% endblock %}

{% block entity_add_label %}Retour à la liste des films{% endblock %}

{% block entity_table_headers %}
    <th>Horaire</th>
    <th>Salle</th>
    <th>Doublage</th>
{% endblock %}

{% block entity_table_content %}
    <td>{{ entity.dateSeance | date("d/m/Y H:i") }}</td>
    <td>{{ entity.salle.nom }}</td>
    <td>{{ entity.doublage }}</td>
{% endblock %}
