{% extends 'pages/vente/detail.html.twig' %}

{% block entity_title %}Produit alimentaire{% endblock %}

{% block entity_table %}
    <tr>
        <th>Code Barre</th>
        <td>{{ entity.codeBarre }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ entity.nomDeProduit }}</td>
    </tr>
    <tr>
        <th>Prix</th>
        <td>{{ entity.prix }}</td>
    </tr>
{% endblock %}

{% block entity_list_path %}href='{{ app.url_generator.generate('vente-produit-alimentaires-list') }}'{% endblock %}

{% block entity_edit_path %}href='{{ app.url_generator.generate('vente-produit-alimentaires-edit', { 'id': entity.codeBarre }) }}'{% endblock %}

{% block entity_states_link %}{% endblock %}

{% block entity_delete_path %}action='{{ app.url_generator.generate('vente-produit-alimentaires-delete', { 'id': entity.codeBarre }) }}'{% endblock %}
