{% extends 'pages/intranet/detail.html.twig' %}

{% block entity_title %}Séance{% endblock %}

{% block entity_table %}
    <tr>
        <th>Nom Film</th>
        <td>{{ entity.film }}</td>
    </tr>
    <tr>
        <th>Horaire</th>
        <td>{{ entity.dateSeance|date('d-m-Y H:i') }}</td>
    </tr>
    <tr>
        <th>Salle</th>
        <td>{{ entity.salle }}</td>
    </tr>
    <tr>
        <th>Doublage</th>
        <td>{{ entity.doublage }}</td>
    </tr>
{% endblock %}

{% block entity_list_path %}href='{{ app.url_generator.generate('intranet-seances-list') }}'{% endblock %}

{% block entity_edit_path %}href='{{ app.url_generator.generate('intranet-seances-edit', { 'id': entity.id }) }}'{% endblock %}

{% block entity_states_link %}{% endblock %}

{% block entity_delete_path %}action='{{ app.url_generator.generate('intranet-seances-delete', { 'id': entity.id }) }}'{% endblock %}
