{% extends 'base.html.twig' %}

{% block body_class %}class='vente'{% endblock %}

{% block nav_content %}
    <ul class='nav navbar-nav'>
        <li><a href='{{ app.url_generator.generate('vente') }}'><i class='icon icon-credit-card'></i> Vente</a></li>
        <li>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon icon-group'> Abonnés <b class='caret'></b></i></a>
            <ul class='dropdown-menu'>
                <li><a href='{{ app.url_generator.generate('vente-abonnes-list') }}'><i class='icon icon-list'></i> Liste</a></li>
                <li><a href='{{ app.url_generator.generate('vente-abonnes-new') }}'><i class='icon icon-plus'></i> Créer un compte</a></li>
            </ul>
        </li>
        <li>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon icon-ticket'> Tickets <b class='caret'></b></i></a>
            <ul class='dropdown-menu'>
                <li><a href='{{ app.url_generator.generate('vente-tickets-list') }}'><i class='icon icon-list'></i> Liste</a></li>
                <li><a href='{{ app.url_generator.generate('vente-tickets-new') }}'><i class='icon icon-plus'></i> Vendre un ticket</a></li>
            </ul>
        </li>
        <li>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon icon-shopping-cart'> Produits <b class='caret'></b></i></a>
            <ul class='dropdown-menu'>
                <li class='dropdown-header'>Boissons</li>
                <li><a href='{{ app.url_generator.generate('vente-produit-boissons-list') }}'><i class='icon icon-list'></i> Liste</a></li>
                <li><a href='{{ app.url_generator.generate('vente-produit-boissons-new') }}'><i class='icon icon-plus'></i> Ajouter une boisson</a></li>
                <li class='divider'></li>
                <li class='dropdown-header'>Produits alimentaires</li>
                <li><a href='{{ app.url_generator.generate('vente-produit-alimentaires-list') }}'><i class='icon icon-list'></i> Liste</a></li>
                <li><a href='{{ app.url_generator.generate('vente-produit-alimentaires-new') }}'><i class='icon icon-plus'></i> Ajouter un produit alimentaire</a></li>
                <li class='divider'></li>
                <li class='dropdown-header'>Autres produits</li>
                <li><a href='{{ app.url_generator.generate('vente-produit-autres-list') }}'><i class='icon icon-list'></i> Liste</a></li>
                <li><a href='{{ app.url_generator.generate('vente-produit-autres-new') }}'><i class='icon icon-plus'></i> Ajouter un autre produit</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
