{% extends 'pages/vente/list.html.twig' %}

{% block entity_title %}Ventes de boissons{% endblock %}

{% block entity_add_path %}href='{{ app.url_generator.generate('vente-produit-boissons-ventes-new') }}'{% endblock %}

{% block entity_add_label %}Vendre une boisson{% endblock %}

{% block entity_table_headers %}
    <th>Id</th>
    <th>Date de vente</th>
    <th>Produit</th>
    <th>Vendeur</th>
    <th>Actions</th>
{% endblock %}

{% block entity_table_content %}
    <td>{{ entity.id }}</td>
    <td>{{ entity.date|date('d-m-Y H:i') }}</td>
    <td>{{ entity.produit }}</td>
    <td>{{ entity.vendeur }}</td>
    <td>
        <div>
            <a href='{{ app.url_generator.generate('vente-produit-boissons-ventes-detail', { 'id': entity.id }) }}'>Détail</a>
        </div>
    </td>
{% endblock %}
