{% extends 'pages/vente/edit.html.twig' %}

{% block entity_title %}Ticket{% endblock %}

{% block entity_update_path %}action='{{ app.url_generator.generate('vente-tickets-update', { 'id': entity.id }) }}'{% endblock %}

{% block form_fields %}
    {{ form_row(form.hasClientAccount) }}
    {{ form_row(form.seance) }}
    <div id='ticket-form-abonne-container' class='form-group'>
        {{ form_label(form.abonne) }}
        {{ form_widget(form.abonne) }}
        {{ form_errors(form.abonne) }}
    </div>
    <div id='ticket-form-tarif-container' class='form-group hidden-field'>
        {{ form_label(form.tarif) }}
        {{ form_widget(form.tarif) }}
        {{ form_errors(form.tarif) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block entity_show_path %}href='{{ app.url_generator.generate('vente-tickets-detail', { 'id': entity.id }) }}'{% endblock %}

{% block entity_list_path %}href='{{ app.url_generator.generate('vente-tickets-list') }}'{% endblock %}

{% block entity_delete_path %}action='{{ app.url_generator.generate('vente-tickets-delete', { 'id': entity.id }) }}'{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('assets/js/form_ticket.min.js') }}'></script>
{% endblock %}
